body{
    background-color: #0695ff;
}

.slider{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prevBtn, .nextBtn {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    position: absolute;
    width: 15%;
    height: 100%;
    top: 0;
    cursor: pointer;
    transition: 0.3s;
}

.prevBtn:hover, .nextBtn:hover {
    color: rgba(255, 255, 255, 0.9);
}

.prevBtn {
    left: 0;
}

.nextBtn {
    right: 0;
}

.dots {
    position: relative;
    top: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots .dot {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}
.dot.active {
    background-color: rgba(255, 255, 255, 0.8);
}

